* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Utility Classes Start */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* colors */
.bg-gradient-1 {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.bg-primary{
    background-color: #1A0B2E;
}
.text-white{
    color: white;
}
.text-green{
    color: #00FF88;
}
/* buttons */
.btn-small{
    border: none;
    border-radius: 10000px;
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.btn-big{
    border: none;
    border-radius: 10000px;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
}

/* font-sizes */
.btn-text{
    font-size: 1rem;
    font-weight: 600;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    margin-bottom: 0.5rem;
}
.description{
    font-size: 1rem;
    font-weight: 400;
}
/* Utility Classes End */


/* Navbar start */
nav a{
    text-decoration: none;
    color: white;
}
nav li{
    list-style: none;
}
nav button{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
}
.menu ul{
    display: flex;
}
.menu ul li{
    margin-right: 2rem;
}
.hamburger{
    display: none;
}
header hr{
    border: none;
    border-top: 1px solid #412567;
}
/* Navbar end */

/* Banner start */
.banner{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-content{
    padding-top: 6.3125rem;
    padding-bottom: 6.3125rem;
    text-align: center;
    width: 100%;
}
.banner-img{
    position: relative;
    display: inline-block;
    margin-bottom: 2.6rem;
}
.banner-img p{
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: #00FF88;
    border: none;
    border-radius: 62.5rem;
    top: 2%;
    left: 70%;
    z-index: 2;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}
.banner-img-1{
    display: block;
    width: 100%;
}
.banner-img-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.banner-content p{
    margin-bottom: 1.5rem;
}
.buttons{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}
.btn-2{
    background: transparent;
    border: 1px solid #00FF88;
}
/* Banner end */

/* About section start */
#about{
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 7.5rem;
}
.about-content h2{
    margin-bottom: 1rem;
}
.about-content p{
    line-height: 1.25rem;
    margin-bottom: 5rem;
}
.about-content hr{
    margin-bottom: 5rem;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.rates{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rate .number{
    font-size: 3rem;
    font-weight: 900;
}
.rate .number-s{
    font-size: 1.9rem;
    font-weight: 900;
}
.rate-text{
    font-size: 0.8rem;
}
/* About section end */

/* Media Query Responsive CSS */
@media screen and (max-width: 576px) {
    .menu,
    .nav-btn{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-img{
        width: 60%;
    }
    .banner-img-2{
        width: 30%;
    }
    .banner-content{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
    }
    .banner{
        background-size: cover;
    }
    .banner-img{
        margin-bottom: 1.5rem;
    }
    #about{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 2.5rem;
    }
    #about h2{
        font-size: 2rem;
    }
    .rates{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .about-content p, .about-content hr{
        margin-bottom: 2.5rem;  
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .hamburger{
        display: none;
    }
    #about{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .rates{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}